
// mobile
@media only screen and (max-width: 768px) {
   .logoDiv{
       display: flex;
       justify-content: center;
       width: 100%;
   }
   .logoSvg{
       width:76.6pt;
       height:26.01pt;
   }
   .menu{
       display: none;
   }
   .hamburger{
       position: absolute;
   }
   .menuItems{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
   }
   .menuItems:nth-child(2){
       margin-top: 50px;
   }
   .menuItems:nth-child(2)>div{
    margin-top: 30px;
    width: 100%;
    text-align: center;
}
   .menu_par{
       margin-top: 20px;
       width: 0;
       overflow: hidden;
       -webkit-transition: width .1s; /* Safari prior 6.1 */
       transition: width .1s;
   }
   .menuFooter{
    position: absolute;
    bottom: 0;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
   }
  }

// desktop
  @media only screen and (min-width: 768px) {
    .container{
        margin: 20px;
    }
      .logoDiv{
          width: 50%;
      }
    .header_par{
        display: flex;
        justify-content: space-between;
        align-items: center;
        
    }
    .logoSvg{
        width: 271.24pt;
        height:  90.92pt;
    }
    .menu{
        width: 50%;
        display: flex;
        justify-content: space-between;
    }
    .hamburger{
        display: none;
    }
    .menu_par{
        display: none;
    }
}

  .width0{
      width:0;
  }
  .width100{
      width:100%;
  }
  .heartIcon{
    margin: 3px;
    margin-top: 10px;
  }
  .posRel{
      position: relative;
  }