<div class="container">
    <div class="first_view_par">
        <div class="first_view_bold">
            <div>
                <div>Your life is a voyage</div>
                <div>So let't explore the world</div>
            </div>
            <div class="first_view_normal">
                Vast landscapes, deep oceans, blue heaven… all the wonders you can imagine. Discovery, explore and learn
                more about life and the world.
            </div>
            <div class="first_view_button" (click)="explore()">
                Let's Explore
            </div>
        </div>
        <div>
            <img src="../../assets/png/brandless-4gEbivsYPEg-unsplash.png" alt="" srcset=""
                style="width:60%;float:right">
        </div>
    </div>

    <div class="first_view_follow">
        <div>to know more follow us on</div>
        <div>
            <span><img src="../../assets/svg/facebook.svg" alt="" srcset=""></span>
            <span><img src="../../assets/svg/instagram.svg" alt="" srcset=""></span>
        </div>
    </div>


    <div class="second_view_parent">
        <div class="image_list">
            <div class="image_list_div">
                <img src="../../assets/png/brandless-4gEbivsYPEg-unsplash.png" alt="" srcset="" class="image_list_img">
            </div>
            <div class="image_list_div">
                    <img src="../../assets/png/brandless-4gEbivsYPEg-unsplash.png" alt="" srcset="" class="image_list_img">
                </div>
            <div class="image_list_div">
                <img src="../../assets/png/brandless-4gEbivsYPEg-unsplash.png" alt="" srcset="" class="image_list_img">
            </div>
            <div class="image_list_div">
                <img src="../../assets/png/brandless-4gEbivsYPEg-unsplash.png" alt="" srcset="" class="image_list_img">
            </div>
            <div class="image_list_div">
                <img src="../../assets/png/brandless-4gEbivsYPEg-unsplash.png" alt="" srcset="" class="image_list_img">
            </div>
            <div class="image_list_div">
                <img src="../../assets/png/brandless-4gEbivsYPEg-unsplash.png" alt="" srcset="" class="image_list_img">
            </div>
            <div class="image_list_div">
                <img src="../../assets/png/brandless-4gEbivsYPEg-unsplash.png" alt="" srcset="" class="image_list_img">
            </div>
            <div class="image_list_div">
                <img src="../../assets/png/brandless-4gEbivsYPEg-unsplash.png" alt="" srcset="" class="image_list_img">
            </div>
        </div>
    </div>
</div>